body {
    background: url("../../img/background.png") fixed;
    background-size: cover;
    width: 100%;
    min-width: 800px;
}

#footer {
    font-size: 12px;
    clear: both;
    position: sticky;
    position: -webkit-sticky;
    bottom: -12px;
    left: 0;
    width: 100%;
    background: black;
    color: white;
    padding-bottom: 2px;
}